* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.main {
    min-height: 100vh;
}