* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.main {
  min-height: 100vh;
}

.header__container {
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0;
  transition: 0.2s all linear;
}
.header__container.scrolling {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  padding: 5px 0 5px;
}
.header__container-logo {
  display: none;
  text-align: center;
}
.header__container .menu-logo {
  display: block;
}
.header__container > i {
  display: block;
  position: fixed;
  right: 30px;
  top: 30px;
  font-size: 2rem;
}
.header__container > i:hover {
  color: rgb(78, 71, 41);
}
.header__container > .off {
  display: none;
}
.header__container > h1 {
  padding: 25px 0 25px 15px;
  font-size: 1.8em;
}
.header__container > h1 > a {
  color: #111;
}
.header__container > h1 > a:hover {
  color: #29a6dc;
}
.header__container-menu-group {
  position: relative;
  height: 0;
  bottom: 100vh;
  transition: 0.5s;
}
.header__container-menu-group.menu-opened {
  display: block;
  bottom: 0;
  height: 100vh;
}
.header__container-menu-group .main-navigation ul li {
  list-style: none;
  padding: 20px 20px;
}
.header__container-menu-group .main-navigation ul li a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
  padding: 10px 0;
}
.header__container-menu-group .main-navigation ul li a:hover {
  color: #29a6dc;
}
.header__container a {
  text-decoration: none;
  color: #111;
  transition: 0.2s;
  position: relative;
}
.header__container a:hover {
  color: #29a6dc;
}
.header__container a::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 0;
  height: 2px;
  background-color: #29a6dc;
  transition: 0.2s;
}
.header__container a:hover::after {
  width: 90%;
  transform: translateX(-50%) scale(1);
}
.header__container h1 > a {
  position: relative;
  padding: 10px 0 10px 5px;
}
.header__container-search {
  margin-left: 20px;
  padding: 20px 0 20px;
  color: #111;
}
.header__container-search > i {
  height: 100%;
}
.header__container-search > i::before {
  position: relative;
  top: calc(50% - 8px);
}
.header__container-search:hover {
  color: #29a6dc;
}
@media (min-width: 680px) {
  .header__container {
    position: unset;
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
  }
  .header__container > i {
    display: none;
  }
  .header__container > h1 {
    flex-basis: 35%;
    padding: 15px 0 15px 15px;
    line-height: 54px;
  }
  .header__container-menu-group {
    display: block;
    flex-basis: 60%;
    height: unset;
    top: 0;
    transition: none;
  }
  .header__container-menu-group.menu-opened {
    height: unset;
  }
  .header__container-menu-group .main-navigation {
    display: flex;
    flex-basis: 50%;
  }
  .header__container-menu-group .main-navigation > div:nth-child(1) {
    flex-basis: 100%;
  }
  .header__container-menu-group .main-navigation ul {
    display: flex;
    justify-content: space-around;
  }
  .header__container-menu-group .main-navigation ul li {
    list-style: none;
    flex-basis: 33%;
    padding: 20px 0;
    justify-content: center;
  }
  .header__container-menu-group .main-navigation ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: #111;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    padding: 10px 0;
  }
  .header__container-menu-group .main-navigation ul li a:hover {
    color: #29a6dc;
  }
  .header__container-menu-group .main-navigation ul li a::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0);
    width: 0;
    height: 2px;
    background-color: #29a6dc;
    transition: 0.2s;
  }
  .header__container-menu-group .main-navigation ul li a:hover::after {
    width: 70%;
    transform: translateX(-50%) scale(1);
  }
  .header__container a {
    text-decoration: none;
    color: #111;
    transition: 0.2s;
  }
  .header__container a:hover {
    color: #29a6dc;
  }
  .header__container-search {
    margin-left: 10px;
    margin-right: 10px;
  }
  .header__container-search > i {
    display: inline-block;
    height: 100%;
  }
  .header__container-search > i::before {
    position: relative;
    top: calc(50% - 8px);
  }
}

.header__hamburger {
  position: fixed;
  right: 30px;
  top: 30px;
  display: block;
}
.header__hamburger > .open:nth-child(1) {
  transform: translateY(12px);
}
.header__hamburger > .open:nth-child(2) {
  transform: rotate(90deg);
}
.header__hamburger > .open:nth-child(3) {
  transform: translateY(-12px);
}
@media (min-width: 680px) {
  .header__hamburger {
    display: none;
  }
}

.hamburger {
  height: 6px;
  width: 40px;
  background-color: black;
  margin-bottom: 6px;
  transition: 0.2s linear;
}

.hero {
  position: relative;
  background-color: #29a6dc;
  height: 100vh;
  color: white;
  text-align: center;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}
.hero__img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
}
@media (orientation: portrait) and (min-width: 360px) {
  .hero__img {
    width: 90%;
  }
}
@media (orientation: portrait) and (min-width: 410px) {
  .hero__img {
    width: 90%;
  }
}
@media (orientation: portrait) and (min-width: 760px) {
  .hero__img {
    width: 90%;
  }
}
@media (orientation: landscape) {
  .hero__img {
    bottom: 0;
    right: -3%;
    height: 80%;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .hero__img {
    right: -13%;
    height: 85%;
  }
}
@media (orientation: landscape) and (min-width: 1280px) {
  .hero__img {
    right: -13%;
    height: 90%;
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .hero__img {
    right: -6%;
    height: 91%;
  }
}

.hero__container {
  position: absolute;
  z-index: 1;
  font-family: "Saira Condensed", arial, sans-serif;
  top: 7%;
  left: 5%;
  right: 5%;
  text-transform: uppercase;
}

.hero__container-p {
  font-size: 40px;
  font-weight: bold;
}

.hero__container-h1 {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
}

.hero__container-h2 {
  font-family: "Saira Condensed", arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
}

.hero__btn {
  font-family: saira, arial, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
  line-height: 32px;
  color: white;
  background-color: transparent;
  padding: 0 20px;
  border: 2px solid white;
  margin-top: 20px;
}

.hero__btn>a {
  text-decoration: none;
  color: inherit;
}

@media (orientation: portrait) and (min-width: 360px) {
  .hero__container-h1 {
    font-size: 24px;
  }
  .hero__container-h2 {
    font-size: 24px;
  }
  .hero__btn {
    line-height: 40px;
    font-size: 16px;
    margin-top: 25px;
  }
}
@media (orientation: portrait) and (min-width: 410px) {
  .hero__container-h1 {
    font-size: 26px;
  }
  .hero__container-h2 {
    font-size: 26px;
  }
  .hero__btn {
    line-height: 50px;
    font-size: 20px;
    margin-top: 40px;
  }
}
@media (orientation: portrait) and (min-width: 760px) {
  .hero__container-p {
    font-size: 60px;
  }
  .hero__container-h1 {
    font-size: 32px;
  }
  .hero__container-h2 {
    font-size: 32px;
  }
  .hero__btn {
    line-height: 60px;
    font-size: 24px;
    margin-top: 60px;
  }
}
@media (orientation: landscape) {
  .hero__container {
    top: 15%;
    left: 6%;
    right: 48%;
  }
  .hero__btn {
    margin-top: 40px;
  }
}
@media (orientation: landscape) and (min-width: 640px) {
  .hero__container-h1 {
    font-size: 24px;
  }
  .hero__container-h2 {
    font-size: 24px;
  }
  .hero__btn {
    font-size: 16px;
    line-height: 40px;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  .hero__container-p {
    font-size: 56px;
  }
  .hero__container {
    top: 20%;
    right: 55%;
  }
  .hero__container-h1 {
    font-size: 34px;
    margin-top: 40px;
  }
  .hero__container-h2 {
    font-size: 34px;
  }
  .hero__btn {
    margin-top: 80px;
    font-size: 24px;
    line-height: 60px;
  }
}
@media (orientation: landscape) and (min-width: 1280px) {
  .hero__container {
    top: 30%;
    left: 5%;
    right: 50%;
    text-align: left;
  }
  .hero__container-p {
    font-size: 86px;
  }
  .hero__container-h1 {
    font-size: 48px;
    margin-top: 60px;
  }
  .hero__container-h2 {
    font-size: 48px;
  }
  .hero__btn {
    margin-top: 100px;
    font-size: 30px;
    line-height: 80px;
    padding: 0 40px;
  }
}
@media (orientation: landscape) and (min-width: 1600px) {
  .hero__container {
    top: 20%;
    left: 5%;
    right: 50%;
  }
  .hero__container-p {
    font-size: 120px;
  }
  .hero__container-h1 {
    font-size: 60px;
    margin-top: 70px;
  }
  .hero__container-h2 {
    font-size: 60px;
  }
  .hero__btn {
    margin-top: 110px;
    font-size: 36px;
    line-height: 90px;
    padding: 0 50px;
  }
}
@media (min-width: 1024px) {
  .hero__btn:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    color: #111;
    transition: 0.2s;
  }
}
/* FEATURES SECTION */
.features {
  padding: 5%;
  text-align: center;
  max-width: 1600px;
  margin: 50px auto 0;
}

.features-h1, .feature-h2 {
  font-family: "Saira Condensed", arial, sans-serif;
  text-transform: uppercase;
}

.features-h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.feature-h2 {
  font-size: 22px;
}

.feature-img {
  width: 50%;
  margin: 5px 0;
  min-width: 288px;
  max-width: 375px;
}

.feature-description {
  font-family: saira, arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
  margin: 20px 0;
}

@media (min-width: 360px) {
  .features-h1 {
    font-size: 28px;
  }
  .feature-h2 {
    font-size: 24px;
  }
  .feature-description {
    font-size: 14px;
  }
}
@media (min-width: 760px) {
  .features-h1 {
    font-size: 34px;
  }
  .feature-h2 {
    font-size: 28px;
  }
  .feature-description {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .features {
    padding: 5% 2%;
  }
  .feature {
    float: left;
    width: 33%;
    padding: 20px;
  }
  .features-h1 {
    font-size: 36px;
  }
  .feature-h2 {
    font-size: 22px;
  }
  .feature-description {
    font-size: 14px;
    padding: 0 10px;
  }
  .feature-img {
    width: 50%;
    margin: 5px 0;
    min-width: 288px;
    max-width: 375px;
  }
}
@media (min-width: 1600px) {
  .feature {
    float: left;
    width: 33%;
    padding: 20px 40px;
  }
  .features-h1 {
    font-size: 60px;
  }
  .feature-h2 {
    font-size: 32px;
  }
  .feature-description {
    font-size: 18px;
    padding: 0 10px;
  }
  .feature-img {
    width: 50%;
    margin: 5px 0;
    min-width: 288px;
    max-width: 375px;
  }
}
/* PROJECTS SECTION */
.portfolio {
  background-color: black;
  color: white;
  padding: 10px 0 30px;
}

.portfolio-h1 {
  font-size: 28px;
  font-family: "Saira Condensed", arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 0;
}

.project__web-img {
  /*min-width: 320px;*/
  width: 100%;
  height: 100%;
}

.project__about {
  padding: 10px 20px 20px 0;
}

.project__about-h2 {
  font-size: 18px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  text-indent: 20px;
  text-transform: uppercase;
}

.project__about-p {
  font-size: 12px;
  font-weight: normal;
  padding-top: 15px;
  padding-left: 20px;
}

.portfolio .project {
  max-width: 1400px;
  margin: 0 auto 20px;
}

.project:nth-of-type(odd) {
  background-color: #ff4f2c;
}

.project:nth-of-type(even) {
  background-color: #0170ba;
}

.project:nth-of-type(even) .project__about {
  padding-right: 0;
}

.project:nth-of-type(even) .project__about p {
  padding-right: 30px;
}

.project:nth-of-type(even) .project__about h2 {
  text-indent: 0;
  margin-left: 40px;
}

@media (min-width: 760px) {
  .portfolio h1 {
    font-size: 40px;
  }
  .project__about-h2 {
    font-size: 28px;
    text-indent: 40px;
  }
  .project__about-p {
    font-size: 18px;
    padding-left: 40px;
  }
  .portfolio .project {
    margin-bottom: 40px;
  }
}
@media (orientation: landscape) {
  .project__web, .project__about {
    width: 50%;
    float: left;
  }
  .project__web-img {
    display: block;
  }
  .project:nth-of-type(even) .project__web {
    float: right;
  }
}
@media (orientation: landscape) and (min-width: 1400px) {
  .portfolio h1 {
    font-size: 60px;
    padding: 30px 0;
  }
  .project__about-h2 {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  .project__about-p {
    font-size: 18px;
    padding-left: 40px;
    line-height: 180%;
  }
  .portfolio .project {
    margin-bottom: 40px;
  }
}
/* SLOGAN SECTION */
.slogan {
  text-align: center;
  background-image: url(../images/motto.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  background-attachment: fixed;
}

.slogan-h1 {
  font-family: "Saira Condensed", arial, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.slogan-text, .slogan-author {
  font-family: saira, arial, sans-serif;
  font-size: 18px;
}

.slogan-author {
  margin-top: 20px;
  font-size: 12px;
}

.slogan__bg {
  background-color: rgba(0, 63, 114, 0.5);
  padding: 30px 10px;
}

@media (orientation: landscape) {
  .slogan p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (orientation: portrait) {
  .slogan p {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .slogan__bg {
    padding: 50px 10px;
  }
  .slogan-h1 {
    font-size: 48px;
    margin-bottom: 35px;
  }
  .slogan-text {
    font-size: 26px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .slogan-author {
    margin-top: 40px;
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .slogan__bg {
    padding: 80px 10px;
  }
  .slogan-h1 {
    font-size: 52px;
    margin-bottom: 55px;
  }
  .slogan-text {
    font-size: 36px;
    width: 55%;
  }
  .slogan-author {
    margin-top: 36px;
    font-size: 26px;
  }
}
/* SECTION HOBBY */
.hobby {
  max-width: 1920px;
  margin: 0 auto;
}

.hobby__item {
  height: 25vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hobby .hobby__item:nth-of-type(1) {
  background-image: url(../images/hobby1.jpg);
}

.hobby .hobby__item:nth-of-type(2) {
  background-image: url(../images/hobby2.jpg);
}

.hobby .hobby__item:nth-of-type(3) {
  background-image: url(../images/hobby3.jpg);
}

.hobby .hobby__item:nth-of-type(4) {
  background-image: url(../images/hobby4.jpg);
}

.hobby__item-p {
  font-family: saira, arial, sans-serif;
  color: white;
  text-align: center;
  line-height: 25vh;
  text-shadow: 0 0 4px blue;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
}

.hobby-h1 {
  font-family: "Saira Condensed", arial, sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 26px;
}

@media (min-width: 533px) {
  .hobby__item {
    float: left;
    width: 50%;
    height: 40vh;
  }
  .hobby__item-p {
    line-height: 40vh;
  }
}
@media (min-width: 768px) {
  .hobby-h1 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .hobby__item-p {
    font-size: 26px;
  }
}
@media (min-width: 1024px) {
  .hobby__item-p {
    opacity: 0;
    transition: 0.6s;
    cursor: default;
  }
  .hobby__item-p:hover {
    opacity: 1;
    background-color: rgba(255, 79, 44, 0.5);
  }
  .hobby__item {
    background-size: 100%;
    transition: 0.6s;
  }
  .hobby__item:hover {
    background-size: 130%;
  }
}
@media (min-width: 1600px) {
  .hobby__item {
    height: 45vh;
  }
  .hobby-h1 {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 45px;
  }
  .hobby__item-p {
    font-size: 40px;
    line-height: 45vh;
  }
}
/* CONTACT SECTION */
.contact {
  background-color: #111;
  padding: 30px 20px;
}

.contact-h1 {
  font-size: 26px;
  color: white;
  font-family: "Saira Condensed", arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

.contact__wrap {
  padding-top: 20px;
  max-width: 1024px;
  margin: 0 auto;
}

.wrap__form-input, .wrap__form-btn, .wrap__form-textarea {
  width: 100%;
  margin-bottom: 25px;
  font-family: saira, arial, sans-serif;
  font-size: 12px;
  padding: 5px;
}

.wrap__form-input {
  height: 36px;
}

.wrap__form-textarea {
  height: 144px;
}

.wrap__form-btn {
  line-height: 40px;
  font-size: 14px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}

.wrap__socials {
  padding-top: 30px;
  font-size: 0;
}

.socials__social {
  padding: 10px 0;
  color: white;
  font-family: "Saira Condensed", arial, sans-serif;
}

.socials__social-img {
  float: left;
}

.socials__social > span {
  float: left;
  line-height: 72px;
  padding-left: 20px;
  font-size: 16px;
}

@media (min-width: 533px) {
  .socials__social {
    display: inline-block;
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .contact-h1 {
    font-size: 60px;
    padding: 30px 0;
  }
  .contact form, .wrap__socials {
    float: left;
    width: 50%;
    padding: 0 20px;
  }
  .socials__social {
    display: block;
    width: 50%;
    margin: 0 auto;
  }
  .wrap__form-input {
    height: 48px;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .wrap__form-textarea {
    height: 180px;
    font-size: 24px;
    margin-bottom: 35px;
  }
  .wrap__form-btn {
    line-height: 50px;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
  }
  .wrap__form-btn:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
.Image-Generator {
  text-align: center;
  margin-top: 30px;
}
.Image-Generator__description {
  font-size: 1.5rem;
  margin: 10px 0;
}
.Image-Generator__button-btn {
  font-size: 1rem;
  background-color: black;
  color: white;
  border: 1px solid #7c7c7c;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 10px;
}
.Image-Generator__button-btn:hover {
  color: black;
  background-color: #7c7c7c;
  border: 1px solid black;
}
.Image-Generator__img {
  width: 200px;
  height: 200px;
  transition: 0.5s linear;
}
.Image-Generator__img.show-img {
  opacity: 1;
  transition: 0.5s linear;
}
.Image-Generator__img.fade-img {
  opacity: 0;
}

.footer {
  position: relative;
  bottom: 0;
  padding: 20px 0 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.swiper-slide {
  overflow: hidden;
}
.swiper-slide > img {
  width: 170px;
  height: 150px;
  object-fit: fill;
}

.swiper-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  align-items: center;
  transition-timing-function: linear;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
}

.scroller__navigation {
  position: fixed;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(174, 174, 174, 0.6);
  padding: 5px;
  border-radius: 10px;
}

.scroller__navigation ul {
  list-style: none;
}

.scroller__navigation ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(83, 83, 255, 0.6);
  cursor: pointer;
}

.scroller__navigation ul li.active {
  background-color: blue;
}

.scroller__navigation ul li + li {
  margin-top: 10px;
}

.gallery__section {
  height: 100vh;
  text-align: center;
  position: relative;
}
.gallery__section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}
.gallery__section-title {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 120px 10px 20px;
}
.gallery__section-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 15px 10px;
}/*# sourceMappingURL=style.css.map */